[Unit]
Description=Waste Management API
After=syslog.target

[Service]
User=spring
Type=idle
ExecStart=/usr/bin/java -jar /var/spring/api-1.0.0-SNAPSHOT.jar --server.port=8080 --spring.profiles.active=gcp
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
